extends layout

block content
  //h1= title
  //p Welcome to #{title}
  //p #{body}
  table.myTable
    tr
      td
        th
         .hello-world
           h1.blue= title
    tr
      td
        p #{body}
